/* universal configuration */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
section,
main {
  padding: 0 4rem;
}

/* Minimalist Color Palette */
:root {
  --color-black: #000000ce;
  --color-gray: #ccccccdd;
  --color-white: #ffffffcc;
}

/* navbar  */
.header nav {
  align-items: center;
  border-bottom: 2px solid var(--color-black);
  box-shadow: 0 3px 5px var(--color-gray);
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.header nav h2 {
  padding: 0 10px;
  cursor: pointer;
}
.nav-contacts {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 10px;
}
.nav-contacts li {
  font-weight: 600;
  margin: 0px 10px;
  transition: all 0.5s;
}
.nav-contacts li:nth-child(2n) {
  border-right: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  margin: 0;
  padding: 0px 10px;
}
.nav-contacts li:hover {
  color: var(--color-gray);
  cursor: pointer;
}

/* spacing section form / main */
.my-2 {
  margin: 2rem 0;
}

/* form filter */
.form-search {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.form-search input {
  background-color: var(--color-gray);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  width: 90%;
}

/* main  */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.img-fluid {
  height: 175px;
  width: 100%;
}

/* article / <a> COME BACK */
.card {
  align-items: center;
  background-color: var(--color-gray);
  box-shadow: 2px 2px 3px var(--color-gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.card-content {
  padding: 1rem;
  width: 100%;
}
.card-content h2 {
  cursor: pointer;
  margin-bottom: 1rem;
}
.card-content div {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 10px;
  display: flex;
  height: 35px;
  margin-bottom: 15px;
  padding: 5px;
  width: 100%;
}
.footer-card {
  margin-bottom: 15px;
}
.link-card,
.come-back,
.link-country {
  background-color: var(--color-black);
  border-radius: 10px;
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
  width: 150px;
}
.link-country {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #a7a7a7;
}
.link-card:hover,
.come-back:hover,
.link-country:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* footer  */
footer {
  align-items: center;
  border-top: 3px solid var(--color-black);
  display: flex;
  height: 60px;
  justify-content: center;
}

/* alphabetically sorted attributes */
